/* Colores */
.text-naranja { color: #FFA500; -webkit-text-stroke: 2px black}
.text-celeste { color: #00BFFF }
.text-plomo { color: rgb(169, 169, 169) }
.text-oscuro{ color:#1d2124;}

.bg-naranja { background-color: #E76E22 }
.bg-celeste { background-color: #00BFFF }
.bg-oscuro{background-color: #1d2124;}
.btn-naranja {
  color: #fff;
  background-color: #FFA500;
  border-color: #FFA500;
}

.principal{
  display: none;
}

.principal2{
  display: none;
}

.opacity-body{
  display: block;
  z-index: 999;
  background: rgba(46, 64, 83, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
}

.seccion-logueo{
  width: 70px;
  float: right;
  position:absolute;
  top: 6px;
  right: 25px;
  text-align: right;
  padding: 10px 0;
}

.seccion-logueo a{
  color: #EAAB00;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
}

.seccion-logueo:hover {
  display: block;
}

.visible{
  display: block;
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
}

.caja-login {
max-width: 25rem;
}

.login, .registro {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 8rem !important;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.navv{
  font-size: 20px;
  padding-left: 1em;
  font-weight: bold;
  color: #4CAF50;
}

.fin{
  margin-bottom: 15em;
}
.login-header, .registro-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.login-body, .registro-body {
  padding: 1.25rem;
}

.acceso{
  margin-top: 12px;
}

.acceso a {
  display: block !important;
}

.seccion-logueo{
  width: 70px;
  float: right;
  position:absolute;
  top: 12px;
  right: 25px;
  text-align: right;
  padding: 10px 0;
}

.seccion-logueo a{
  color: #EAAB00;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
}

.seccion-logueo:hover > .seccion-logout{
  display: block;
}

.seccion-logout:hover{
  display: block;
}

.seccion-logout a{
  color: #000;
}

.seccion-logout{
  display: none;
  width: 140px;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 999;
  right: 8px;
  top: 47px;
  border-radius: 6px;
  padding: 10px;
}

.seccion-logout a{
  display: block;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.btnCerrar{
  float: right;
}

.caja-registro {
max-width: 40rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-row {
  display: flex;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row > .col, .form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.registro {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 8rem !important;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.form-registro{
  height: 298px;
}
.btn-naranja:hover {
  color: #fff;
  background-color: #E76E22;
  border-color: #E76E22;
}
.btn-celeste {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}
.btn-celeste:hover {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
  transition: all 1s ease;
}

.nav-celeste {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
  transition: all 1s ease;
}

.intro-area { padding: 100px 0; }

.sub-texto { margin-bottom: 75px; }

.intro-block h3 { font-size: 18px; }

.feature-area {
  padding: 100px 0 0 0;
  background-image: url(../images/slide.jpeg);
  background-size: cover;
}

.more-feature-area {
  padding-top: 100px;
}

.testimonials {
  padding: 100px 0;
  background-image: url(../images/fosil1.jpg);
  background-size: cover;
}

.img-team { width: 136px }

.img-fosil { width: 300px; height: 200px;}

.border-team {
  width: 140px;
  height: 138px;
  margin: 0 auto;
}

.contact { padding: 100px 0; }

.google-map {
  width: 100%;
  height: 400px;
}

.footer {
  padding: 30px 0;
}













